@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    width: 40em;
    border-radius: 2em;
}

#package{
    display: flex;
    justify-content: space-evenly;
    margin: 5em auto;
    align-items: center;
    gap: 1em;
    border: 2px solid black;
    padding: 1em 2em;
    border-radius: 2em;
}

#package:hover{
    background-color: #7aa;
}

span{
    border: 1px solid black;
    border-radius: 0.9em;
    padding: 0.3em;
}


.link{
    color: white;
}

.destinationsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinationsForm input {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}
.destinationsForm select {
    width: 100%; 
    margin-bottom: 1em; 
}

.packageInfo{
    color: black;
}

